<h1>タスク一覧</h1>
<% if logged_in?  %>
  <% if @tasks.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>名前</th>
        <th>id</th>
        <th>ステータス</th>
        <th>タスク</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= current_user.name %></td>
          <td><%= link_to task.id, task %></td>
          <td><%= task.status %></td>
          <td><%= task.content %></td>
          <td>
            <% if current_user == task.user %>
              <%= link_to "削除", task, method: :delete, data: { confirm: "タスクを削除しますか？" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @tasks %>
  </div>
  <% end %>
<% end %>
<%= link_to '新規タスクの作成', new_task_path, class: "btn btn-primary" %>